.DS_Store
plugin-deploy.sh
config.codekit
export.sh
.idea
.vscode
.github/prompts
.cursor
/.DS_Store
nbproject
node_modules
includes/pro
build
secret.json
log.txt
npm-debug.log
vendor
!assets/vendor
phpcs-report.txt

# Ignore the following directories and files for automation tests
test-results
playwright-report
tests/e2e/node_modules/
tests/e2e/test-results/
tests/e2e/setup
tests/e2e/parallel-one
tests/e2e/parallel-two
tests/e2e/parallel-three
tests/e2e/parallel-four
tests/e2e/parallel-five
tests/e2e/parallel-six
tests/e2e/parallel-seven
tests/e2e/parallel-eight
tests/e2e/parallel-nine
tests/e2e/parallel-ten
tests/e2e/parallel-eleven
tests/e2e/parallel-twelve
tests/e2e/parallel-thirteen
tests/e2e/parallel-fourteen
tests/e2e/parallel-fifteen
tests/e2e/parallel-sixteen
tests/e2e/parallel-seventeen
tests/e2e/parallel-eighteen
tests/e2e/parallel-nineteen
tests/e2e/parallel-twenty
tests/e2e/json-results
tests/e2e/playwright-report/
tests/e2e/playwright/.cache/
tests/e2e/.DS_Store
tests/e2e/.env
tests/chrome_recordings
*.min.js.*
*.min.css.*
tests/e2e/plugins-page-wpuf-lite-check.png
tests/e2e/screenshots