.DS_Store
plugin-deploy.sh
config.codekit
export.sh
.idea
.vscode
/.DS_Store
nbproject
node_modules
includes/pro
build
secret.json
log.txt
npm-debug.log
vendor
!assets/vendor
phpcs-report.txt
assets/css/admin/subscriptions.min.css
assets/js/subscriptions.min.js

# Ignore the following directories and files for automation tests
test-results
playwright-report
tests/e2e/node_modules/
tests/e2e/test-results/
tests/e2e/playwright-report/
tests/e2e/playwright/.cache/
tests/e2e/.DS_Store
tests/e2e/.env
