# ===========================
# General Configuration
# ===========================

CI=true

# ===========================
# Site Details
# ===========================

QA_BASE_URL="http://your-site-url.test"

# ===========================
# Admin Credentials (Only for running in Local)
# ===========================

QA_ADMIN_USERNAME="your-admin-username"
QA_ADMIN_PASSWORD="your-admin-password"

# ===========================
# Git Token & License keys
# ===========================

ACCESS_TOKEN="your_git_access_token"
WPUF_PRO_LICENSE_KEY="your wpuf pro license key"

# ===========================
# API Keys
# ===========================

GOOGLE_MAP_API_KEY="Your Google Map API Key"
RECAPTCHA_SITE_KEY="Your Recaptcha Site Key"
RECAPTCHA_SECRET_KEY="Your Recaptcha Secret Key"
CLOUDFLARE_TURNSTILE_SITE_KEY="Cloudflare Turnstile Site Key"
CLOUDFLARE_TURNSTILE_SECRET_KEY="Cloudflare Turnstile Secret Key"

# ===========================
# SMTP Creds
# ===========================

SMTP_EMAIL_USERNAME="your smtp email address"
SMTP_EMAIL_PASSWORD="your smtp email password"

# ===========================
# Stripe keys
# ===========================

STRIPE_PUBLISHABLE_KEY="your stripe publishable key"
STRIPE_SECRET_KEY="your stripe secret key"
STRIPE_SIGNING_KEY="your stripe signing key"

# ===========================
# PayPal keys
# ===========================

PAYPAL_EMAIL="your paypal marchant email"
PAYPAL_CLIENT_ID="your paypal client id"
PAYPAL_CLIENT_SECRET="your paypal client secret"
PAYPAL_WEBHOOK_ID="your paypal webhook id"
PAYPAL_API_USERNAME="your paypal api username"
PAYPAL_API_PASSWORD="your paypal api password"
PAYPAL_API_SIGNATURE="AnFzcuuaGxJq8NFjw0ci-L2eIk27AD7ZmUwNys5eC6p0pjTsKMq1.xbf"
PAYPAL_VENDOR_EMAIL="your paypal vendor email"
PAYPAL_VENDOR_PASSWORD="your paypal vendor password"

# ===========================
# AI API keys
# ===========================

OPEN_AI_API_KEY="your openai api key"
GEMINI_AI_API_KEY="your gemini api key"
ANTHROPIC_API_KEY="your anthropic api key"