# ===========================
# General Configuration
# ===========================

CI=true

# ===========================
# Site Details
# ===========================

QA_BASE_URL="http://your-site-url.test"

# ===========================
# Admin Credentials (Only for running in Local)
# ===========================

QA_ADMIN_USERNAME="your-admin-username"
QA_ADMIN_PASSWORD="your-admin-password"

# ===========================
# New User Credentials
# ===========================

QA_NEW_USERNAME="new-user-username"
QA_NEW_USEREMAIL="new-user-email@example.com"
QA_NEW_FIRSTNAME="NewUserFirstName"
QA_NEW_LASTNAME="NewUserLastName"
QA_NEW_PASSWORD="new-user-password"