#--Site URL--#
QA_BASE_URL=""


CII=true


#--Admin Credentials--#
QA_ADMIN_USERNAME=""
QA_ADMIN_PASSWORD=""


#--New User Credentails--#
QA_NEW_USERNAME=""
QA_NEW_USEREMAIL=""
QA_NEW_FIRSTNAME=""
QA_NEW_LASTNAME=""
QA_NEW_PASSWORD=""