.wpuf-hide {
  display: none;
}
.wpuf-pro-text-alert {
  font-style: italic;
  color: #ccc;
}
.wpuf-pro-text-alert a {
  text-decoration: none;
  color: #aaa;
}
#wpuf-pro-content {
  opacity: 0.7;
}
.wpuf-pro-content {
  opacity: 0.7;
}
#wpuf-metabox-editor {
  background: transparent;
  border: none;
  box-shadow: none;
}
#wpuf-metabox-editor .handlediv {
  display: none;
}
#wpuf-metabox-editor .hndle {
  display: none;
}
#wpuf-metabox-editor .wpuf-updated {
  background-color: #ffffe0;
  border: 1px solid #e6db55;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px 0 15px;
  font-weight: bold;
}
#wpuf-metabox-editor h2.nav-tab-wrapper {
  padding: 0;
}
#wpuf-metabox-editor h2.nav-tab-wrapper a:first-child {
  margin-left: 10px;
}
#wpuf-metabox-editor .inside {
  margin: 0;
  padding: 0;
}
#wpuf-metabox-editor .inside h3 {
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
  padding-left: 0;
}
#wpuf-metabox-fields h2 {
  margin: 0;
}
#wpuf-metabox-fields .wpuf-form-buttons {
  margin-bottom: 10px;
}
#wpuf-metabox-fields button {
  margin-bottom: 5px;
}
#wpuf-metabox-fields .wpuf-loading {
  width: 16px;
  height: 16px;
  background: url('../images/wpspin_light.gif') no-repeat;
}
#wpuf-metabox-fields .wpuf-loading.hide {
  display: none;
}
.wpuf-form-editor {
  font-size: 12px;
  margin: 0;
}
.wpuf-form-editor li {
  background: #FFF;
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.wpuf-form-editor li.ui-state-highlight {
  border: 1px dashed #DDD;
  min-height: 50px;
  background: #eee;
}
.wpuf-form-editor li.password .required-field,
.wpuf-form-editor li.user_email .required-field {
  display: none;
}
.wpuf-form-editor li .wpuf-legend {
  background: #fff;
  color: #464646;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  padding: 7px 10px;
}
.wpuf-form-editor li .wpuf-legend:after {
  clear: both;
  content: "";
  display: table;
}
.wpuf-form-editor li .wpuf-legend:hover {
  cursor: move;
}
.wpuf-form-editor li .wpuf-legend .wpuf-label {
  float: left;
  width: 70%;
}
.wpuf-form-editor li .wpuf-legend .wpuf-actions {
  float: right;
}
.wpuf-form-editor li .wpuf-legend .wpuf-actions a {
  font-size: 11px;
  padding: 2px 5px;
}
.wpuf-form-editor li .wpuf-legend .wpuf-actions a.wpuf-remove {
  background: transparent url(../images/delete.png) no-repeat 70% 50%;
  color: #f00;
  width: 16px;
  text-indent: -9999px;
  display: inline-block;
}
.wpuf-form-editor li .wpuf-legend .wpuf-actions a.wpuf-toggle {
  background: transparent url(../images/arrows.png) no-repeat 0 2px;
  width: 10px;
  text-indent: -9999px;
  display: inline-block;
}
.wpuf-form-editor li .wpuf-form-holder {
  padding: 10px;
}
.wpuf-form-editor li .wpuf-form-rows {
  padding-bottom: 3px;
}
.wpuf-form-editor li .wpuf-form-rows:after {
  clear: both;
  content: "";
  display: table;
}
.wpuf-form-editor li .wpuf-form-rows label {
  float: left;
  width: 20%;
  font-size: 12px;
}
.wpuf-form-editor li .wpuf-form-rows textarea {
  width: 60%;
}
.wpuf-form-editor li .wpuf-form-rows .wpuf-form-sub-fields {
  width: 77%;
  float: left;
}
.wpuf-form-editor li .wpuf-form-rows .wpuf-form-sub-fields label {
  float: none;
  display: inline-block;
  width: auto;
}
.wpuf-form-editor li .wpuf-form-rows .wpuf-form-sub-fields .wpuf-show-field-value {
  margin: 7px 0 7px 0;
}
.wpuf-form-editor li .wpuf-form-rows .wpuf-form-sub-fields .wpuf-option-label-value {
  margin: 0;
}
.wpuf-form-editor li .wpuf-form-rows .wpuf-form-sub-fields .wpuf-option-label-value span {
  font-weight: bold;
  margin-left: 5%;
  margin-right: 27%;
}
.wpuf-form-editor li .wpuf-form-rows .wpuf-form-sub-fields.wpuf-options {
  margin-bottom: 10px;
}
.wpuf-form-editor li .wpuf-form-rows table.address-table {
  width: 100%;
  margin-bottom: 15px;
}
.wpuf-form-editor li .wpuf-form-rows table.address-table label {
  float: none;
  width: 100%;
}
.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}
