.metabox-tabs-div {
	margin-bottom: 40px;
}

#metabox-tabs {
	padding: 0px;
}

ul#metabox-tabs li.active {
	background: #ffffff;
	border-style: solid;
	border-width: 1px;
}

ul#metabox-tabs li {
	background: #f1f1f1;
	width: 20%;
    display: block;
    float: left;
    clear: both;
}

.metabox-tabs a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul.wpuf-sub-tab li {
	margin: 0px;
	padding: 5px;
	display: block;
	float: left;
	position: relative;
	box-sizing: border-box;
	vertical-align: middle;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.metabox-tabs a {
	text-decoration: none;
}

.metabox-tabs-div div.tabs-panel {
	overflow: auto;
	padding: 0.5em 0.9em;
	border-style: solid;
	border-width: 1px;
}

.heading {
	padding-left:10px;
}

.tab-content{
	overflow: auto;
	padding: 0.5em 0.9em;
	border-style: solid;
	border-width: 1px;
}