.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 30px 10px;
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    /*border-radius: 6px;*/
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-body {
    position: relative;
    padding: 40px;
}
.modal-footer {
    padding: 40px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.wpuf-ajax-register, .wpuf-ajax-login, .wpuf-ajax-reset-password, .wpuf-ajax-register-footer, .wpuf-ajax-login-footer {
    display: none;
}
div[data-active-tab="#wpuf-ajax-reset-password"] .wpuf-ajax-reset-password,
div[data-active-tab="#wpuf-ajax-reset-password"] .wpuf-ajax-login-footer,
div[data-active-tab="#wpuf-ajax-login"] .wpuf-ajax-login,
div[data-active-tab="#wpuf-ajax-register"] .wpuf-ajax-register,
div[data-active-tab="#wpuf-ajax-register"] .wpuf-ajax-login-footer,
div[data-active-tab="#wpuf-ajax-login"] .wpuf-ajax-register-footer {
    display: block;
}
.wpuf-ajax-loading {
    display: none;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert>p, .alert>ul {
    margin-bottom: 0;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
#wpuf-ajax-user-modal h3 {
    clear: none;
    margin-bottom: 20px;
}
.form-field {
    margin: 20px 0;
    position: relative;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 70px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}