.wpuf-toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.wpuf-toggle-switch input {
    display: none;
}

.wpuf-toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.wpuf-toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.wpuf-toggle-switch input:checked + .slider {
    background-color: #0073aa;
}

.wpuf-toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.wpuf-toggle-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.wpuf-modules {
    margin-top: 15px;
    overflow: hidden;
}

.wpuf-modules .plugin-card {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    position: relative;
}

.wpuf-modules .plugin-card .plugin-name {
    color: #0073aa;
}

.wpuf-modules .plugin-card .desc,
.wpuf-modules .plugin-card .name {
    margin-left: 115px;
}

.wpuf-modules .plugin-card .plugin-card-top {
    min-height: 110px;
}

.wpuf-modules .plugin-card .plugin-icon {
    width: 96px;
    height: 96px;
    margin: 0 20px 0px 0;
}

.activate-deactivate-all {
    float: right;
    margin-top: 15px;
}

.activate-deactivate-all span {
    color: #0073aa;
    cursor: pointer;
}

.wpuf-doc-link {
    clear: both;
    text-align: center;
    padding-left: 26px;
    padding-top: 26px;
}

.plugin-card:hover .form-create-overlay {
    opacity: 1;
}
.form-create-overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
}
a.wpuf-button.button-upgrade-to-pro {
    padding: 10px 15px;
    background: #ff9000;
    color: #fff;
    min-height: auto;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.pro-icon svg {
    height: 1em;
}

span.pro-icon svg path {
    fill: #fff;
}
