name: Playwright tests/e2e
on:
  push:
    branches: [ develop, automation/wpuf-e2e-pw ]
  pull_request:
    branches: [ develop ]



jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest    
    
    #Cloning WPUF-Lite + WPUF-PRO
    steps:

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "7.3"
            
      - uses: actions/checkout@v3
        # with:
        #   ref: 'automation/wpuf-e2e-pw'

     
      - uses: actions/setup-node@v3
        with:
          node-version: '14.x'
      


      - name: Composer install and build (WPUF-lite)
        run: |
            composer update
            composer install
            composer dump-autoload -o
            
      - name: Npm install and build (WPUF-lite)
        run: |
            npm i
            grunt release
            


      - name: Install dependencies
        run: |
          cd tests/e2e  
          npm ci
          
      - name: Install Playwright Browsers
        run: |
          cd tests/e2e 
          npx playwright install chromium


      - name: Setup WordPress 
        run: |
          cd tests/e2e 
          npm run wp-env start
          

      - name: Run Playwright tests/e2e
        run: |
          cd tests/e2e
            npx playwright test e2eMain.spec.ts --project=chromium
            ls
            

        env:
          BASE_URL: ${{ secrets.QA_BASE_URL}}
          CI: true
          ADMIN_USERNAME: ${{ secrets.QA_ADMIN_USERNAME }}
          ADMIN_PASSWORD: ${{ secrets.QA_ADMIN_PASSWORD }}
          

      
      #######--- Remove Later ---#######
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3
        if: always() # always run even if the previous step fails
        with:
          report_paths: "tests/e2e/playwright-report/results.xml"
          include_passed: true,
          # check_retries: true,
          # detailed_summary: true,
      
      #######--- Remove Later ---#######

      

      - name: Archive playwright artifacts (screenshots, HTML snapshots, videos)
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: tests/e2e/playwright-report
          if-no-files-found: ignore
          retention-days: 30
      
      # - name: Publish HTML report to GH Pages
      #   if: always() # We want this to always run, even if test fail prior to this step running
      #   uses: peaceiris/actions-gh-pages@v3.7.3
      #   with:
      #     github_token: ${{ secrets.ACCESS_TOKEN }}
      #     publish_dir: tests/e2e/playwright-report # This is where index.html will be output
      #     keep_files: true # Set this to true to make sure we don't wipe out the other content in GitHub Pages
      #     user_name: "github-actions[bot]" # This will be the username that gets stamped in the repo commit
      #     user_email: "github-actions[bot]@users.noreply.github.com" # This will be the user email that gets stamped in the repo commit

      - name: Test results
        if: always()
        run: |
          echo "url is https://$GITHUB_REPOSITORY_OWNER.github.io/${GITHUB_REPOSITORY#*/}"

      




      